:root{
      --bs-body-font-family:"Noto Sans TC", Muli, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
      font-weight: 400;
      --bs-primary-rgb:10, 66, 115;
      --bs-link-color:rgb(10,66,115);
      --bs-link-hover-color:#974a2d;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
      font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      text-transform: none;
}


h2{
    text-transform: uppercase;
}

.tooltip , .popover, .subheading{
    font-family: "Noto Sans TC","Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 200;
    text-transform: none;
}
a{
    text-decoration: none;
}

.social-icons.socail-icon:hover{
background-color: rgb(10, 66, 115);
}
nav{
    background-image: url("../assets/img/檔名");
}

.resume-section{
    background-color: rgb(245, 241, 226);
}